<p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Valor unitário</th>
        <th>Subtotal</th>
      </tr>
    </thead>
      <tbody>
        <% @items.each_with_index do |item, index| %>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td><%= item['product'].name %></td>
          <td><%= item['qty'] %></td>
          <td><%= item['product'].price %></td>
          <td><%= item['product'].price.to_f * item['qty'].to_f %></td>
        </tr>
        <% end %>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td>Total</td>
          <td><%= @cart.sum %></td>
        </tr>
      </tbody>
  </table>


  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
