<% if @user.uid %>
<img src="http://graph.facebook.com/<%= @user.uid %>/picture" />
<% end %>


<div class="success">
  <%= flash[:success] %>
</div>

<div class="error">
  <%= flash[:error] %>
</div>

<%= form_for(@user, url: profile_path) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :pets %><br />
    <%= f.text_field :pets %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%= f.submit %>

<% end %>

<div>
  <div>Meus endereços</div>
  <%= render :partial => "addresses/list" %>
</div>

<div>
  <div>Meus planos</div>
  <%= render :partial => "plans/list" %>
</div>
