<div class="container-fluid">
<%= form_tag('/search', method: :post, :enforce_utf8 => false) do %>
  <%= label_tag(:q, 'Buscar:') %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Buscar", name: '') %>
<% end %>
</div>


<% if current_user %>
Logado como: <%= current_user.name %> - <%= current_user.email %>
<% end %>
