<!DOCTYPE html>
<html>
<head>
  <title>Pets</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Signika:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/87272/petinaboxcombr/style.css?w19hrn">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__content">
        Pet in a Box
        <nav class="header__navbar">
          <ul class="nav">
            <li>
              <a href="#" class="nav__item">Sobre</a>
            </li>
            <li>
              <a href="#" class="nav__item">Como Funciona</a>
            </li>
            <li>
              <a href="#" class="nav__item">Produtos</a>
            </li>
            <li>
              <a href="#" class="nav__item">Contato</a>
            </li>
            <li>
              <%= link_to_if(!current_user, 'Login', new_user_session_path, class: 'nav__item nav__item--login') do
                link_to(user_link(current_user), profile_path, class: 'nav__item nav__item--login')
              end %>
            </li>
            <li>
              <a href="#" class="nav__item nav__item--sign-up">Assine Agora</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <%= yield %>
</body>
</html>
